@page
@model ExecutingDevice.Pages.Main.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Main page</title>
</head>
<body>
<div>
    <div>
        <button id="run">Submit</button>
    </div>
</div>
</body>
</html>
